<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} -f [NC,OR] 
	RewriteCond %{REQUEST_FILENAME} -d [NC] 
	RewriteRule .* - [L]

	RewriteRule .*\.(html|htm|tpl|php|json) index.php [QSA,L]
	RewriteRule pew/.*\.(js|css) index.php [QSA,L]
</IfModule>
